* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 150px 5fr;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 75px 300px 150px;
    background-color: maroon;
    color: white;
    padding: 16px 32px 0 32px;
    gap: 24px;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.title h1 {
    font-size: 24px;
}

.sidebar ul {
    display: grid;
}

ul li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 16px;
}

.sidebar img {
    width: 24px;
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(350deg) brightness(103%) contrast(102%);
}

.title img {
    width: 48px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 100px 100px; */
    column-gap: 16px;
    padding: 12px 36px;
    border-bottom: 1px solid black;
}

.header1 {
    display: grid;
    grid-template-columns: auto minmax(200px, 600px);
    gap: 16px;
    justify-content: start;
    /* justify-items: center; */
    align-items: center;
}

.header1 input {
    background-color: rgb(218, 218, 218);
    border: none;
    border-radius: 12px;
    height: 24px;
}

.header2 {
    display: grid;
    /* grid-template-columns: 60px 60px 175px; */
    grid-template-columns: repeat(3, auto);
    gap: 16px;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
}

/* .header1 input {
    height: 24px;
} */

.header img {
    width: 24px;
}

.header2 .logo {
    width: 44px;
    border-radius: 24px;
}

.header3 {
    display: grid;
    grid-template-columns: auto minmax(285px, auto);
    /* grid-template-rows: auto auto; */
    justify-content: start;
    align-items: center;
    align-content: center;
    column-gap: 16px;
}

.header3 .logo {
    width: 64px;
    border-radius: 36px;
    grid-row: 1 / 3;
}

.header4 {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 130px));
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.header4 button {
    height: 36px;
    background-color: maroon;
    color: white;
    font-weight: bold;
    /* border: 1px solid black; */
    border: none;
    border-radius: 24px;
}

.main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding: 36px 16px;
    background-color: rgb(218, 218, 218);
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px repeat(3, 1fr);
    gap: 24px;
}

.projects > h2 {
    grid-column: 1 / 3;
}

.card {
    border: 1px solid black;
    /* position: relative; */
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: white;
}

.card-text {
    /* margin: 24px 16px 0; */
    padding: 24px 16px 0;
}

.icons {
    /* position: absolute;
    bottom: 20px;
    right: 20px; */
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    align-items: center;
    gap: 16px;
    padding-right: 16px;
}

.icons img {
    width: 36px;
}

.news-section {
    display: grid;
    background-color: #fff;
    padding: 24px;
    gap: 24px;
    border: 1px solid black;
}

.announcements > h2 {
    padding-bottom: 16px;
}

#mid {
    border-top: 1px solid rgb(192, 192, 192);
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-top: 24px;
    padding-bottom: 24px;
}